{% extends "base.html" %}

{% block title %}Part View - {{ part['part_number'] }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Part Details</h1>
        <div>
            <a href="{{ url_for('edit_part', part_id=part.id) }}" class="btn btn-primary">Edit Part</a>
            {% if origin == 'admin' %}
                <a href="{{ url_for('admin') }}" class="btn btn-secondary">Back to Admin</a>
            {% else %}
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to List</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Information</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Part Number</th>
                        <td>{{ part['part_number'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ part['description'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Barcode</th>
                        <td>{{ part['barcode'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Unit of Measure</th>
                        <td>{{ part['uom'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Supplier Name</th>
                        <td>{{ part['supplier_name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{ part['notes'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Photo Gallery</h2>
            {% if image_attachments %}
                <div class="row">
                    {% for image in image_attachments %}
                        <div class="col-md-4 mb-3">
                            <a href="#" class="thumbnail-link" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-src="{{ url_for('uploaded_file', filename=image.filename) }}">
                                <img src="{{ url_for('uploaded_file', filename=image.filename) }}" class="img-thumbnail" alt="{{ image.filename }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No photos attached.</p>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" id="modalImage" class="img-fluid" alt="Full size image">
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h2>Attached Files</h2>
    {% if file_attachments %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for file in file_attachments %}
                    <tr>
                        <td>{{ file.filename }}</td>
                        <td>
                            <a href="{{ url_for('uploaded_file', filename=file.filename) }}" class="btn btn-sm btn-primary" target="_blank">Download</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No files attached.</p>
    {% endif %}
{% endblock %}
