{% extends "base.html" %}

{% block title %}Select Thumbnail{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Select a Thumbnail to Apply</h1>
    <a href="{{ url_for('admin') }}" class="btn btn-outline-secondary">Cancel</a>
</div>
<p class="lead">Click on an image below to set it as the thumbnail for the selected parts.</p>
<hr>

<div class="row">
    {% for image in images %}
        <div class="col-md-3 mb-3">
            <a href="{{ url_for('apply_thumbnail', filename=image.filename, part_ids=part_ids) }}">
                <img src="{{ url_for('uploaded_file', filename=image.filename) }}" class="img-thumbnail" alt="{{ image.filename }}">
            </a>
        </div>
    {% else %}
        <div class="col">
            <p>No images found in the gallery.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
